html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding:0;
    border: none;
}

#side{
    width:20%;
    height: 100%;
    font-size: large;
    padding:0;
    overflow: hidden;
    float: left;
    border: none;
}

#gameStage{
    width: 80%;
    height: 99%;
    margin: 0 0 0 20%;
    padding:0;
    border: none;
}

#gameStage canvas{
    width:100%;
    height: 100%;
    margin: 0;
    padding:0;
    border: none;
}

#json{
    width: 0;
    height: 0;
    margin: 0 0 0 0;
    padding:0;
    border: none;
    visibility: hidden;
    font-size: 0;
}