@CHARSET "utf-8";
html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.container{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.container .header{
    width:80%;
    height: 10%;
    margin:0 0 0 10%;
    padding:0;

}

.container .footer{
    width:10%;
    height: 10%;
    margin:0 0 0 10%;
    padding:0;
}
.container .content {
    width:80%;
    height: 79%;
    margin-left: 10%;
    border: solid 1px black;
    overflow: hidden;
}

.container  .content .leftSide {
    width:49%;
    height: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
    float:left;
}
.container  .content .divider {
    position:absolute;
    left:50%;
    top:11%;
    bottom:11%;
    border-left:1px dotted black;
}

.container  .content .rightSide {
    width:49%;
    height: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
}

.loginBox{
    position: relative;
    width:50%;
    border: solid 1px black;
    padding: 0 0 1% 0;
    border-radius: 6px;
    left: 25%;
    top:25%;
}

.LogIn_message{
    position: relative;
    width: 100%;
    border-bottom: solid 1px #ccc;
    margin-bottom: 5%;
    padding: 0;
    text-align : center;
}

form{
    width: 100%;
    margin-left: 22.5%;
}
form input[type="text"], textarea {
    width:50%;
    border: solid 1px #ccc;
    padding: 1.5%;
    background-color: white;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 0.5%;
}

form input[type="password"], textarea {
    width:50%;
    border: solid 1px #ccc;
    padding: 1.5%;
    background-color: white;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    margin: 0 auto;
}

form input[type="submit"], input[type="button"] {
    width:30%;
    padding:0.5em 1em;
    cursor:pointer;
    border-radius:4px;
    color: black;
    font-weight:bold;
    border:solid 1px #ccc;
    box-shadow:0 1px 5px rgba(0,0,0,0.2);
    background-color: #3fa9f5;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 4%;
}